$web-color : #d1da36;
$data-color :#439f4c ;
$design-color : #FC4545 ;


.home-details{
    width: 90%;
    border-radius: 10px;
    background-color: #dfb99b3e;
    padding: 10px;
    position: relative;
    overflow: hidden;
    height: fit-content;    
    margin: auto ;
    .info-holder{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        .info{
            display: grid;
            grid-template-columns: 50% 50%;
        
        
        }
        .info-title{
            color: #ffffff;
            font-weight: 700;
            font-size: 60px;
        }
        .number{
            width: 80px;
            height: 80px;
            color: #ffffff;
            font-weight: 700;
            font-size: 60px;
            position: relative;
            z-index: 10;
            &::before , &::after{
                content: "";
                position: absolute;
                background-color: inherit;
                width: 80px;
                border-radius: 50%;
                height: 80px;
                bottom: 0;
                z-index: -1;
            }
            &::before{
                right: -45%;
            }
            &::after{
                left: -45%;
            }
        }
        h1{
            &#experince{
                    margin: auto;
                    padding: 5px 10px;
                    background-color: #323232;
                   
                    
                }
        }
        h3#experince-label{
            color: #323232;
            font-size: 32px;
            position: relative;
            z-index: 12;
        }
        h1{
            &#projects{
               
                padding: 5px 10px;
                background-color: #FC4545;
                margin: auto;       
               
            }
        }
        h3#project-label{
            color: #FC4545;
            font-size: 32px;
        }
    }
    .circle{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: absolute;
        z-index: 9;
        animation: rotate 6s linear infinite; /* this sets up the animation */
        transform-origin: top left;
        &#right{
            right: -40px;
            top: -40px;
            background-color: #fc4545e0 ;
            filter: blur(30px);
        }
        &#left{
            filter: blur(10px);
            background-color: #323232;
            bottom: -40px;
            left: -40px;
        }
        &#left-bottom{
            filter: blur(10px);
            top: -40px;
            left: -40px;
            background-color: #fc4545dc;

        }
    }

    .skills-title{
        color: #FC4545;
        font-size: 52px;
        text-align: center;
        margin-bottom: 20px;
        text-decoration: underline;
    }
    .skill-grid{
        display: flex;
        flex-wrap: wrap;
    }
    .skill-tag{
        padding: 5px 10px;
        border-radius: 15px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        background-color: #ffffff;
        margin: 2px;
        cursor: pointer;
        &.web{
            border: 2px solid $web-color;
            &.active{
                background-color: $web-color;
                color: #ffffff;
            }
        }
        &.data{
            border: 2px solid $data-color;
            &.active{
                background-color: $data-color;
                color: #ffffff;
            }
        }
        &.design{
            border: 2px solid $design-color;
            &.active{
                background-color: $design-color;
                color: #ffffff;
            }
        }
    }
}
.dark{
    #left{
        background-color: #D1DA36 !important;
        bottom: -50px;
        left: -50px;
    }
        h1#experince{
            background-color: #FFD700 !important ;
            color: #171717 !important;
            
        }
        h3#experince-label{
            color: #e8e8e8 !important;
        }
    
    .skill-tag{
        background-color: #212121;
        color: #f7f7f7;
}
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }