.project-holder{
    height: 270px;
    border-radius:10px;
    background-color: #011520;
    overflow: hidden;
    position: relative;
    transition: all 200ms;
    cursor: pointer;
    &:hover{
        .img-wrapper{
            height:40%;     
            .project-img{
                opacity: 0.75;
            }
        }
        
    }
    .img-wrapper{
        transition: all 200ms;
        height:50%;
        overflow: hidden;
        .project-img{
            width: 105%;
            opacity: 0.75;
            transform: translateY(-10px);
        }
    }
    .project-title{
        margin-top: 5px;
        h2{
            color: #DA3653;
            font-size: 30px;
            text-align: center;
        }
    }
    .project-description{
        padding: 5px;
        color: #ffffff;
        font-size: 17px;
    }
   
    .show-more{
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 2px solid #ffffff;
        button{
            cursor: pointer;
            width: 100%;
            border: none;
            padding: 5px;
            font-size: 30px;
            background-color: #173241;
            color: #D1DA36;
            transition: all 100ms;
            &:hover{
                color: #ffffff;
                background-color: #171717;

            }
        }
    }
}