$design-color : #fc4545;
$web-color : #d1da36;
$data-color :#439f4c;
@import '../../mainstyle.scss';
.top-projects{
    min-height:100vh;
    padding: 10px;
    background-color: #4de599ba;
    transition: all 400ms;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

    .top-title{
        color: #414141;
        font-size: 80px;
        text-align: center;
        &::selection{
            background-color: $green;
            color: #272727;
        }
    }
    .top-container{
        padding: 10px;
    }
    .flex-box{
        display: flex;
        justify-content: space-evenly;
        margin: 40px auto;
    }
    .top-project-card{
        width:90%;
        height: 270px;
        background-color: #272727;
        border-radius: 10px;
        transition: all 400ms;
        margin: 30px auto;
        overflow: hidden;
        position: relative;
        display: flex;
        cursor: pointer;
        .img-wrapper{
            position: relative;
            z-index: 4;
            img{
                transition: all 200ms ;
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.55;
            }
        }
        .description{
            position: absolute;
            right: -30px;
            z-index: 9;
            width: 30%;
            color: #272727;
            transition: all 200ms;
            text-align: center;
        }
        .background-cover{
            width: 55%;
            height: 151%;
            position: absolute;
            background-color: #d2da36a6;
            z-index: 6;
            transform: rotate(-8deg);
            right: -110px;
            bottom: -15px;
            transition: all 200ms;
            &.design{
                background-color: #fc4545b6;
            }
            &.data{
                background-color: #439f4cc5;
            }
        }
        .dark-shadow{
            position: absolute;
            z-index: 10;
            right: 0;
            width:30px;
            height: 100%;
            background: rgb(234,234,234);
            background: -moz-linear-gradient(90deg, rgba(234,234,234,0) 0%, #fc4545b6   85%);
            background: -webkit-linear-gradient(90deg, rgba(234,234,234,0) 0%, #fc4545b6  85%);
            background: linear-gradient(90deg, rgba(234,234,234,0) 0%, #fc4545b6  85%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaeaea",endColorstr="#272727",GradientType=1);
            &.web{
                background: rgb(234,234,234);
                background: -moz-linear-gradient(90deg, rgba(234,234,234,0) 0%, #d2da36a6   85%);
                background: -webkit-linear-gradient(90deg, rgba(234,234,234,0) 0%, #d2da36a6  85%);
                background: linear-gradient(90deg, rgba(234,234,234,0) 0%, #d2da36a6  85%);
                
            }
            &.data{
                background: rgb(234,234,234);
                background: -moz-linear-gradient(90deg, rgba(234,234,234,0) 0%, #439f4cc5   85%);
                background: -webkit-linear-gradient(90deg, rgba(234,234,234,0) 0%, #439f4cc5  85%);
                background: linear-gradient(90deg, rgba(234,234,234,0) 0%, #439f4cc5  85%);
                
            }
        }
        &:hover{
            .img-wrapper{
                img{
                    opacity: 0.35;
                    transform: translateX(-50px);
                }
            }
            .background-cover{
                background-color: #d2da36;
                transform: rotate(-8deg);
                right: -10px;
                &.design{
                    background-color: $design-color;
                }&.data{
                    background-color: $data-color;

                }
            }
            .description{
                position: absolute;
                right: 0px;
                z-index: 9;
                width: 50%;
                color: #272727;
                padding: 5px;
            font-size: 18px;

    
            }
            .dark-shadow{
                display: none;
            }
        }
    }
    .navto-projects{
        margin: 40px auto;
        display: flex;
        justify-content: center;
        a{
            padding: 10px 30px;
            border-radius: 10px;
            background-color: $green;
            color: #ffffff;
            text-decoration: none;
            font-size: 50px;
            font-weight: 600;
            position: relative;
            z-index: 10;
            overflow: hidden;
            .gray{
                height: 100%;
                position: absolute;
                background-color: #272727;
                z-index: -1;
                left: 0;
                bottom: 0;
            }
            &:hover{
                
                color: #ffffff;
                .gray{
                    animation: toright 300ms linear forwards;
                }
            }
        }
    }
}

.dark{

    .top-projects{
        background-color: #292929c8;
        h1{
            color: $green;
        }

        .navto-projects{
            a{
                .gray{
                    background-color: $dark-blue;
                
                }
                
            }
        }
    }
}
@media screen and (max-width:760px) {
    .top-projects{
        .flex-box{
            flex-direction: column;
            margin: 0;
            .top-project-card{
                width: 90%;
                height: 270px;
            }
        }
    }
}
@keyframes toright {
    from{
        width: 0;
    }to{
        width: 100%;
    }
}