.home-page{
    background-color: #DDFFBB;
    min-height: calc(100vh - 50px);
    max-height: fit-content;
    &.dark{
        background-color: #011520;
        .home-first-wrapper{
            .name-typing{
                background-color: #1B2631;
                color: #f1f1f1;
                margin:20px 10px ;
            }
            .pic-background{
                background-color: #272727b3;
            }
        }

    }
    .home-first-wrapper{
        display: flex;
        padding: 50px 0;
        min-height: 380px;
        .half{
            width: 50%;
        }
        .name-typing{
            text-align: center;
            font-size: 52px;
            border-radius: 10px;
            color:#171717;
            background-color: #ffffffbe;
            margin: auto;
            flex: 7;
            margin-left: 20px;
            animation : slidedown forwards 150ms linear;

            .code{
                color: #FC4545;
                font-size: 60px;
                font-weight: 600;
            }
            #myname{
                font-weight: 600;
                color: #FFD700;
                font-size: 56px;
            }

        }
        .picture-wrapper{
            flex: 5;
        }
        .pic-background{
            width: 220px;
            height: 220px;
            transform: rotate(45deg);
            border-radius: 45px;
            background-color: #181f4b;
            margin: 30px auto 0;
            border: 3px solid #171717;
            display: flex;
            align-items: center;
            justify-content: center;   
            overflow: hidden;
        }
        .my_photo{
            transform: rotate(-45deg) translateY(40px);
            width: 85%;
            height: 100%;
            border-radius: 10px;
            
        }
    }
    .back-dark-box{
        background-color: #222222c5;
        position: relative;
        height: 300px;
        width: 110%;
        transform: rotate(10deg) translate(-30px,20px);
        .tasks{
            transform: rotate(-10deg) translate(-30px,95px);
            color: #ffffff;
            position: absolute;
            left: 120px;
            font-size: 30px;
            top: -40px;
        }
        .tringle{
            display: none;
            position: absolute;
            right: -50px;
            width: 0; 
            height: 0; 
            border-style: solid; 
            border-width: 0 0 230px 230px;
            transform: rotate(125deg);
            border-radius: 20px;
            top: 35px;
            border-color: transparent transparent #FFAE6D transparent; 
            }
    }
    .details-holder{
        display: grid;
        min-height: 200px;
        grid-template-columns: 60% 40%;
        padding-bottom: 15px;
    }
    @media screen and (max-width:760px) {
        .home-first-wrapper{
            display: initial;
            padding: 50px 0;
            min-height: 380px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .half{
                width: initial;
                &.picture-wrapper{
                    order: 1;
                }
            }
            .pic-background{
                margin-bottom: 20px !important;
                background-color: #FC4545; 
                margin: 30px auto 0;
                border: none;
                flex: 5;
                
            }
            .picture-wrapper{
                order: 1 !important;
            }
            .name-typing{
                order: 2 !important;
                text-align: center;
                font-size: 45px;
                margin:20px auto ;
                width: 96%;
                .code{
                    color: #FC4545;
                    font-size: 55px;
                }
                #myname{
                    color: #FFD700;
                    font-size: 50px;
                }
            }
        } 
        .details-holder{
            grid-template-columns: 100%;
            row-gap: 20px ;
        }   
    }
}
@keyframes slidedown {
    from {
        height: 0;
    }to{
        height: fit-content;
        padding: 5px;
    }
}
.resume-container{
    display: flex;
    justify-content: center;
    margin: 20px ;
}
.resumeLink{
    padding: 5px 30px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #FC4545;
    text-decoration: none;
    font-size: 55px;
    font-weight: 600;
    position: relative;
    z-index: 10;
    overflow: hidden;
    .gray{
        height: 100%;
        position: absolute;
        background-color: #272727;
        z-index: -1;
        left: 0;
        bottom: 0;
    }
    &:hover{
        color: #ffffff;
        .gray{
            z-index: -1;
            animation: toright 400ms linear forwards;
        }
    }
}

@keyframes toright {
    from{
        width: 0;
    }to{
        width: 100%;
    }
}