.allconversation-container{
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    margin: auto;
    width: 80%;
    >div{
        transition: all 300ms ;
    }
   .startconv-wrapper{
        width: 100%;
        background-image: url('../../assets/chat.jpg');
        background-size: contain;
        flex: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .img-background{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            background-color: #fc4545;
            img{
                width: 160px;
                height: 160px;
                object-fit: contain;
            }
        }
        button{
            margin: 10px 0;
            color: #fff;
            font-size: 26px;
            font-weight: 500;
            border-radius: 10px;
            padding: 5px 15px;
            background-color: #fc4545;
            cursor: pointer;
            transition: all 200ms;
            border: none;
            width: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                font-size: 36px;
                margin-top: 3px;
                margin-left: -5px;
            }
            &:hover{
                transform: scale(1.1);
                background-color: #171717;
            }
        }
   }
}

.chatbox-container{
    border-radius: 20px;
    background-color: #1717178f;
    position: relative;
    height: 300px;
    overflow: hidden;
    transition: all 200ms;
    width: 100%;
    margin: auto;
    flex: none;
    .chat-header{
        transition: inherit;
        width: 100%;
        position: sticky;
        top: 0;
        left: 0;
        height: 55px;
        border-bottom: 2px solid #171717;
        background-color: #e9e9e9;
        padding: 6px 15px;
        display: flex;
        justify-content: center;
        color: #171717;
        z-index: 10;
        .back-wrapper{
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-right: 40px;
            font-size:30px;
            position: absolute;
            left: 5px;
            
        }
        .conact-text{
            display: flex;
            flex-direction: column;
             align-items: center;
             margin-left: 15px;
        }
        .img-background{
            overflow: hidden;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #a1a1a1;
            display: flex;
            align-items: center;
            img{
                width: 45px;
                height: 45px;
            }
        }
        .name{
            font-size: 24px !important;
          
        }
        .typing{
            margin-top: -5px;
        }
    }
    .textfeild{
        position: sticky;
        border-top: 1px solid #dddddd;
        bottom: 0;
        background-color: #2C333B;
        padding: 5px 10px;
        width: 100%;
        left: 0;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .suggestMessage{
            background-color: #fc4545b6;
            padding: 5px 10px;
            border-radius: 20px;
            border:2px solid #171717;
            font-size: 19px;
            color: #ffffff;
            margin: 2px 4px;
            cursor: pointer;
            transition: all 300ms;
            &:hover{
                background-color: #353535;
                color: #ffffff;
                transform: scale(1.1);
            }
        }
        
       
        
    }
    .message-wrapper{
        page-break-after: auto;
        padding: 5px;
        height: 90%;
        padding-bottom: 50px;
        overflow-y: scroll;
        background-image: url('../../assets/chat.jpg');
        background-size: contain;
        &::-webkit-scrollbar {
            background-color: #f5f5f5;
            width: 5px;
          }
          
          
          &::-webkit-scrollbar-thumb {
            background-color: #464646;
            border-radius: 5px;
          }
          
          &::-webkit-scrollbar-thumb:hover {
            background-color: #333;
          }
        .qustionanswer{
           
           position: relative;
           display: flex;
          justify-content: space-between;
          margin: 30px 0;
          .time{
            text-align: right;
            font-size: 14px;
            margin-right: 5px;

        }
            .question{
                order:2;
                background-color: #d1d1d1;
                color: #171717;
                font-size: 22px;
                right: 0;
                padding: 5px;
                border-radius: 5px;
                width: fit-content;
                height: fit-content;
                .time{
                    color: #373737b8;
                }
                
            }
        }
        .answer{
            order: 1;
            height: fit-content;
            width: fit-content;
            max-width: 50%;
            left: 0;
            background-color: #fc454591;
            color: #ffffff;
            font-size: 22px;
            padding: 5px;
            border-radius: 5px;
            margin-top: 20px;
            transition: all 400ms;
            visibility: hidden;
            .time{
                color:#ffffffaa;
                text-align: right;
              

            }
        }
       
        

    }

    &.dark{
        background-color: #474747b5;
        .chat-header{
            background-color: #353535;
            color: #e9e9e9;
            .back-wrapper{
                cursor: pointer;
                display: flex;
                align-items: center;
                margin-right: 40px;
                font-size:30px ;
                
            }
            .img-background{
                overflow: hidden;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #171717;
                display: flex;
                align-items: center;
                img{
                    width: 45px;
                    height: 45px;
                }
            }
            .name{
                font-size: 30px;
            }
    }
}

}

@media screen and (max-width:760px) {
    .allconversation-container{
        display: flex;
        overflow: hidden;
        border-radius: 20px;
        margin: auto;
        width: 100%;
        margin-left: 20px;
    }
    .chatbox-container{
       
        height: 400px;
    }
}