.navbar{
    background-color:#3f4538 ;
    color: #ffffff;
    display: flex;
   
    align-items: center;
    height: 45px;
    overflow: hidden;
    transition: all 300ms;
    &.dark{
        background-color:#131719 ;
        transition: all 300ms;
        #right-side-navbar{
            .active{
                background-color: #FFD700;
            }
            .link{
                &:hover{
                    color: #272727;
                    background-color: #FFD700;
                    transition: all 300ms;
                }
                }
        }
    }
    #left-side-navbar{
        width: 60%;
    }
    #right-side-navbar{
        width: 40%;
        display: flex;
        align-items: center;
        .theme-wrapper{
            margin-left: 10px;
            cursor: pointer;
        }
        .nav-links-container{
            position: relative;
        }
        .link{
            background-color: transparent;
            padding: 10px;
            color: #ffffff;
            font-size: 30px;
            position: relative;
            z-index: 5;
            &:hover{
                color: #272727;
                background-color: #FFAE6D;
                
                transition: all 400ms;
            }
            &.activelink{
                color: #272727;

            }
            // &:hover{
            //     transform: ;
            // }
        }
        .active{
            background-color: #FFAE6D;
            position: absolute;
            z-index: 0;
            top: -10px;
            transition: all 300ms;
        }
    }
    .burger-wrapper{
        display: none;
    }
    @media screen and (max-width:580px) {
        #right-side-navbar{
            display: none;
        }
        .burger-wrapper{
            display: block;
            width: 20%;
            background-color: #272727;
            svg{
                font-size: 40px;
                position: absolute;
                right: 10px;
                top : 7px;
                cursor: pointer;
            }
        }
    }
}

.sidebar-container{
    position: absolute;
    width: 80%;
    height: 100vh;
    background-color: #e3c670fb;
    z-index: 999;
    top: 0;
    right: -90%;
    transition: 150ms all;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 300ms;
    animation: apper 150ms linear forwards;
    .backicon{
        svg{
            color: #ffffff;
            width: 45px;
            height: 45px;
        }
    }
    .protofolio-title{
        margin: 30px auto ;
        font-size: 25px;
        color: #e7e7e7;
        font-weight: 700;
        text-align: center;
    }
    .links-container{
        margin: 60px auto;
        .link-item{
            text-align: center;
            margin: 20px auto;
            a,.theme{
                color: #ffffff;
                text-decoration: none;
                font-size: 30px;
                font-weight: 500;
            }
            svg{
                margin-left: 10px;
                width: 30px;
                height: 30px;
                color: #ffffff;
            }
            &.theme-wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 20px;
            }

            
            &.selected-link{
                background-color: #FBF2CF;
                width: 90%;
                padding: 10px;
                border-radius: 10px;
                a{
                    color:#171717 ;
                    font-size: 35px;
                }
            }
        }
    }
    
    &.dark{
        background-color: #052D43;
        .protofolio-title{
            color: #FFD700;
        }
        .links-container{
            .link-item{
                &.selected-link{
                    background-color: #171717b6;
                    a{
                        color:#d9c240 ;
                    }
                }
            }
        }
    }
}
@keyframes apper{
    to{
        right: 0;
    }   
}
@keyframes disapper {
    to{
        right: -90%;
    }
}
.link{
    text-decoration: none;

}