

.navbar{
    background-color:#3f4538 ;
    color: #fff;
    display: flex;
    align-items: center;
    height: 45px;
    overflow: hidden;
    #left-side-navbar{
        width: 70%;
    }
    #right-side-navbar{
        width: 30%;
        display: flex;
        align-items: center;
        .theme-wrapper{
            margin-left: 10px;
            cursor: pointer;
        }
        .nav-links-container{
            position: relative;
        }
        .link{
            background-color: transparent;
            padding: 15px;
            color: #ffffff;
            font-size: 30px;
            position: relative;
            z-index: 5;
            &:hover{
                color: #272727;
                background-color: #FFAE6D;
                
                transition: all 400ms;
            }
            &.activelink{
                color: #272727;

            }
            // &:hover{
            //     transform: ;
            // }
        }
        .active{
            background-color: #FFAE6D;
            position: absolute;
            z-index: 0;
            top: -10px;
            transition: all 300ms;
            

        }
    }
    .burger-wrapper{
        display: none;
    }
    @media screen and (max-width:580px) {
        #right-side-navbar{
            display: none;
        }
        .burger-wrapper{
            display: block;
            width: 20%;
            background-color: #272727;
            svg{
                font-size: 40px;
                position: absolute;
                right: 10px;
                top : 7px;
                cursor: pointer;
            }
        }
    }
}

.sidebar-container{
    position: absolute;
    width: 90%;
    height: 100vh;
    background-color: #272727;
    z-index: 999;
    top: 0;
    right: -90%;
    transition: 150ms all;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 300ms;
    animation: apper 150ms linear forwards;
}
@keyframes apper{
    to{
        right: 0;
    }   
}
@keyframes disapper {
    to{
        right: -90%;
    }
}
.link{
    text-decoration: none;

}