.page{
    background-color: #DDFFBB;
    padding: 5px;
    
    &.dark{
        background-color: #011520;
        .page-title{
            color: #f1ffe3;
        }
    }
    .page-title{
        padding: 20px;
        text-align: center;
        h1{
            font-size: 80px;
        }
    }
    .projects-cards-container{
        display: grid;
        grid-template-columns: repeat(3,33%);
        width: 90%;
        margin: 20px auto;
        
    }

    .projects-wrapper{
        position: relative;
        overflow-x: hidden;
        height: 100vh;
        .projects-container{
            position: absolute;
            height: 100%;
            width: 100%;
            margin: auto 0;
            border-radius: 20px;
            display: flex;
            transition: all 300ms;
            .side-name{
                flex: 1;
                position: absolute;
                font-size: 28px;
                left: -35px;
                cursor: pointer;
                transform: rotate(-90deg);
            }
            .projects-grid{
                display: grid;
                background-color: #171717;
                width: 80%;
                min-height: 300px;
                margin: 30px auto ;
                padding: 10px;
                background-color: #1717174a;
                border-radius: 10px;
                grid-template-columns: repeat(3,33%);
                grid-gap: 5px;
                transform: translateX(-30px);
                &::-webkit-scrollbar {
                    background-color: #f5f5f5;
                    width: 5px;
                  }
                  
                  
                  &::-webkit-scrollbar-thumb {
                    background-color: #464646;
                    border-radius: 5px;
                  }
                  
                  &::-webkit-scrollbar-thumb:hover {
                    background-color: #333;
                  }
            }  
            .img-background{
                position: absolute;
                bottom: 10px;
                left: 60px;
                z-index: -1;
                img{
                    width: 400px;
                    height: 370px;
                    opacity: 0.15;
                }
            }
        }
    }  
    @media screen and (max-width:560px) {
        .projects-cards-container{
            grid-template-columns: repeat(1,100%);
            grid-gap: 5px;
            width: 90%;
            margin: 20px auto;
        }
        .projects-wrapper{
            position: relative;
            overflow: hidden;
            height: 100vh;
            .projects-container{
                position: absolute;
                height: 100%;
                width: 100%;
                margin: auto 0;
                display: flex;
                flex-direction: column;
                .side-name{
                    display: block;
                    text-align: center;
                    font-size: 28px;
                    cursor: pointer;
                    position: initial;
                    transform: initial;
                    flex: initial;
                }
                .projects-grid{
                    margin: 20px auto;
                    transform: initial;
                    width: 90%;
                    min-height: fit-content;
                    max-height: 70vh;
                    overflow-y: scroll;
                    grid-template-columns: repeat(1,100%);
                }
                .img-background{
                    display: none;
                }
         }    
    }
}
        
    
    
}