.page{
    .projectPage{
        height: calc(100vh - 50px);
    }
    background-color: #DDFFBB;
    min-height: calc(100vh - 50px);
    max-height: fit-content;
    &.dark{
        background-color: #011520;
        .page-title{
            color: #f1ffe3;
        }
    }
    .page-title{
        padding: 20px;
        text-align: center;
        h1{
            font-size: 80px;
        }
    }
    .projects-cards-container{
        display: flex;
        justify-content: space-between ;
        width: 90%;
        margin: 20px auto;
        
      
    }

    .projects-wrapper{
        position: relative;
        overflow-x: hidden;
        height: 100vh;
        
        .projects-container{
            position: absolute;
            height: 90%;
            width: 100%;
            margin: auto 0;
            border-radius: 20px;
            display: flex;
            transition: all 300ms;
            .side-name{
                flex: 1;
                position: absolute;
                font-size: 28px;
                left: -35px;
                cursor: pointer;
                transform: rotate(-90deg);
            }

        }
    }  
   
        
    
    
}