@import '../../mainstyle.scss';
.footer-container {
    
        background-color: $white;
        &.dark{
            background-color: $dark-blue !important;

        }
    
}
.footer{
    padding: 20px 50px;
    background-color: $green;
    .waves-horizental{
        width: 100%;
        margin-bottom: -4px !important;
    }
   

    
    .footer-title{
        color: $white;
        font-size: 80px;
    }
    // &.dark{
    //     background-color: $dark-blue;
    //     .footer-title{
    //         color: $green;
    //     }
    // }
}